body {
	background-color: #009688;
}

.credentials {
	margin-left: 10px !important;
	margin-bottom: -20px !important;
}
#user-field {
	
}

.login-buttons {
	width: 38%;
	margin: 1px;
}

#login {
	background-color: #009688;
}

.login-card.mdl-card {
	margin: 0px auto;
	width: 320px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.login-card > .mdl-card__title {
	background:
		url("../assets/Logo.png") bottom right no-repeat #fff;
}
